{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Amazon 2.0 by Faizan Ahmed</h1>
      <p>My Awesome Cart Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by Faizan Ahmed, 
      I am Faizan Ahmed from kolkata, Student of MVJ College of Engineering,Pursuing B.E in computer science and engineering.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Faizan Ahmed</h2>
        <p>I am Faizan Ahmed from kolkata, Student of MVJ College of Engineering,Pursuing B.E in computer science and engineering</p>
        <p><a class="btn btn-secondary" href="/contact" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Hey </h2>
        <p>i created this project with the help of django </p>
        <p><a class="btn btn-secondary" href="/contact" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Hey i am faizan</h2>
        <p>HI thanks for visiting this site, if u want to know moe contact me</p>
        <p><a class="btn btn-secondary" href="/contact" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
